# Kompilierte Dateien
*.a
*.o
*.d
*.h.d
*.res
*.lib
*.dll
*.exe
*.elf
*.gch
*.h.gch
*.vsix

# Caches
*.RESULTCACHE
*.RESULTS
*.CACHE

# Temp Dateien
*.tmp
*.NOTE

# Logdateien
*.log
*.LOG

# Dokumente
*.html

# Proj Dirs
build/
thirdparty/
temp/
tmp/
bin/
__OUT/

#
Import/juliaScripts/*
Import/!juliaScripts/.gitignore

# Os Dateien
.DS_Store
Thumbs.db

# Config dateien
*.ini

# Konfigdateien
config.ini
imgui.ini

# Komprimierte Dateien
*.zip
*.tar.gz