MAINICON ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,2,0
 PRODUCTVERSION 1,0,2,0
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         0x40004L
 FILETYPE       0x1L
 FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "IKM\0"
            VALUE "ProductName",      "Adaptive Lightweight Finite Element Tool (ALF)\0"
            VALUE "ProductVersion",   "1.0.2.0\0"
            VALUE "FileVersion",      "1.0.2.0\0"
            VALUE "FileDescription",  "FEM-Anwendung\0"
            VALUE "InternalName",     "ALF.exe\0"
            VALUE "OriginalFilename", "ALF.exe\0"
            VALUE "LegalCopyright",   "© 2025 Tim Rother, Dr. Hendrik Geisler. Alle Rechte vorbehalten.\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
